---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Blog" header="jns.net.ar">
    <div class="flex h-full items-center justify-center text-center">
        <h1 class="text-4xl font-bold">Coming <span class="highlight">soon...</span></h1>
    </div>
</Layout>
