---
import Layout from "../layouts/OtherLayout.astro"
import Separator from "../components/separator.astro"
---

<Layout>
    <div class="text-center">
        <h1 class="text-2xl">Services</h1>

        <Separator />

        <ul class="list-disc list-inside space-y-2">
  <li><a class="hover:underline hover:font-semibold" href="https://cprty.jns.net.ar">copyparty</a></li>
  <li><a class="hover:underline hover:font-semibold" href="https://j.jns.net.ar">jellyfin (invite-only)</li>
</ul>
    </div>

</Layout>