---
const items = [
    {
        name: "Home",
        href: "/",
    },
    {
        name: "Blog",
        href: "/blog",
    },

];
---

<nav>
    {
        items.map((item, idx) => (
            <>
                <a href={item.href}>{item.name}</a>
                {idx < items.length - 1 && " / "}
            </>
        ))
    }
</nav>
